## Local projects

## external projects
# elasticsearch==7.0.2
# certifi==2018.11.29 # required by elastic search to connect to its CLOUD

#sklearn==0.0

# For some Jupyter notebooks
jupyter==1.0.0
jupyterlab
ipywidgets==7.6.3
ipympl==0.7.0
#imageio==2.11.0 # for scipy image manipulation


# For Machine learning
matplotlib==3.3.4
numpy==1.19.5
pandas==1.1.5
scikit-learn==0.20.3
scipy==1.5.4
setuptools==41.0.0